<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings xdt:Transform="Replace">
    <!--Must Add MultipleActiveResultSets=True to the connection string to allow for multiple simultaneous requests-->
    <add name="DirtyGirlContext" connectionString="Server=sql01;Database=Dirtygirl;User ID=DirtyGirlUser;Password=D1rtyG1rlUs3r1;MultipleActiveResultSets=True;Trusted_Connection=False;Connection Timeout=30;" providerName="System.Data.SqlClient"/>
    <add name="ElmahConnectionString" connectionString="Server=sql01;Database=Elmah;User ID=Dirtygirl;Password=D1rtyG1rlUs3r1;MultipleActiveResultSets=True;Trusted_Connection=False;Connection Timeout=30;" providerName="System.Data.SqlClient"/>
  </connectionStrings>

  <FacebookConfigurationSettings xdt:Transform="Replace">
    <FacebookSettings AuthUrl="https://www.facebook.com/dialog/oauth"
                      RedirectUri="http://register.godirtygirl.com/User/Facebook"
                      AppSecret="c3eb0ba74630a02ea0a70a2de91e5e9b"
                      ClientId="119970701515269"
                      Scope="user_about_me,email"/>
  </FacebookConfigurationSettings>


  <DirtyGirlConfigurationSettings  xdt:Transform="Replace"
    DefaultCountryId="1"
    DefaultMessageKey="UserMessage"
    EventImageFolder="/Images/Events"
    LogoHieght="100" LogoWidth="100"
    GoogleAPIKey="AIzaSyCBOYPNcNPswOquUzP2ep_RFrp3OOUwJ4k"
    DisplaySpotsAvailableCount="100"
    CurrentCartKey="CurrentCart"
    CurrentTransactionKey="CurrentTransactions"
    ServerUrl="http://register.godirtygirl.com/">    
  </DirtyGirlConfigurationSettings>
  
  <DirtyGirlServiceConfigurationSettings  xdt:Transform="Replace"
    SMTPServerName="smtp.sendgrid.net" 
    SMTPServerUsername="rconley" 
    SMTPServerPassword="pinkandmuddy5!" 
    SMTPServerFromAddress="admin"
    EmailServiceFromAddress="admin@godirtygirl.com" 
    EmailTemplatePath="EmailTemplates" 
    EmailTemplateBody="Template.html" 
    TransferEmailBody="Transfer.html" 
    TransferEmailSubject="Dirty Girl Registration Transfer Started" 
    CancellationEmailBody="Cancellation.html" 
    CancellationEmailSubject="Dirty Girl Event Cancellation Success" 
    UsersMustConfirmEmail="false" 
    ConfirmationEmailBody="RegistrationWithoutConfirmation.html" 
    ConfirmationEmailSubject="Your Dirty Girl Mud Run Account" 
    PaymentConfirmationEmailBody="PaymentConfirmation.html" 
    PaymentConfirmationEmailSubject="Thank you for registering for the Dirty Girl {0} mud run!" 
    TeamInviteBody="DirtyGirlTeamShare_Body.html" ServerUrl="http://register.godirtygirl.com/" 
    PaymentGatewayId="52J2XRtSgdJF" 
    PaymentGatewayKey="6F6373X3beN7va56" 
    PaymentPostUrl="https://authorize.net/xml/v1/request.api" 
    PaymentTestMode="false" 
    MaxTransferHeldDays="3" 
    RequestValidForHours="24" 
    RegistrationCutoffHours="10" 
    EmailPacketCutoffDays="7" 
    WaitMinutesBetweenPasswordResetRequestEmailSent="5" 
    PasswordResetRequestBody="PasswordResetRequest.html" 
    PasswordResetRequestSubject="Dirty Girl Mud Run Password Assistance" 
    TimezoneOffset="-5"/>
  <system.web>
    
   <compilation xdt:Transform="RemoveAttributes(debug)" />   
    
  </system.web>
</configuration>