<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">   
        
    <FacebookConfigurationSettings xdt:Transform="Replace">
      <FacebookSettings 
        AuthUrl="https://www.facebook.com/dialog/oauth" 
        RedirectUri="http://***redirect url***" 
        AppSecret="***Facebook App Secret***" 
        ClientId="***Facebook Client Id ***" 
        Scope="user_about_me,email" />
    </FacebookConfigurationSettings>
  
  <DirtyGirlConfigurationSettings  xdt:Transform="Replace"
    DefaultCountryId="1"
    DefaultMessageKey="UserMessage" 
    EventImageFolder="/Images/Events" 
    LogoHieght="100" LogoWidth="100" 
    GoogleAPIKey="***GoogleAPIKey***" 
    DisplaySpotsAvailableCount="100" 
    CurrentCartKey="CurrentCart" 
    CurrentTransactionKey="CurrentTransactions" 
    ServerUrl="http://***Domain URL***"
    >    
  </DirtyGirlConfigurationSettings>
  
  <DirtyGirlServiceConfigurationSettings xdt:Transform="Replace"
    SMTPServerName="***SMTP Server ***" 
    SMTPServerPort="***SMTP Port***" 
    SMTPServerUsername="***Smtp UserName ***" 
    SMTPServerPassword="*** SMTP Password ***" 
    SMTPServerFromAddress="***SMTPFrom Address***" 
    EmailServiceFromAddress="***Application From Address***" 
    EmailTemplatePath="EmailTemplates" 
    EmailTemplateBody="Template.html" 
    TransferEmailBody="Transfer.html" 
    TransferEmailSubject="Dirty Girl Registration Tranfer Started"
    CancellationEmailBody="Cancellation.html"
    CancellationEmailSubject="Dirty Girl Event Cancellation Success"
    ConfirmationEmailBody="RegistrationWithoutConfirmation.html" 
    ConfirmationEmailSubject="Dirty Girl Registration Confirmation"
    PaymentConfirmationEmailBody="PaymentConfirmation.html" 
    PaymentConfirmationEmailSubject="Thank you for your purchase!"
    TeamInviteBody="DirtyGirlTeamShare_Body.html"
    ServerUrl="http://***application url***"
    PaymentGatewayId="2xV8k5eCM" 
    PaymentGatewayKey="2J48JeaEG5f5Y7Lw"
    PaymentTestMode="true"
    PaymentPostUrl="https://apitest.authorize.net/xml/v1/request.api"
    MaxTransferHeldDays="3"
    RequestValidForHours="24" 
    WaitMinutesBetweenPasswordResetRequestEmailSent="5" 
    PasswordResetRequestBody="PasswordResetRequest.html" 
    PasswordResetRequestSubject="Dirty Girl Password Assistence">
  </DirtyGirlServiceConfigurationSettings>

  <system.web>
    
   <compilation xdt:Transform="RemoveAttributes(debug)" />   
   <customErrors mode="Off" xdt:Transform="Replace"></customErrors>
    
  </system.web>
</configuration>