@model vmAdmin_EventPerformance

@{ViewBag.Title = "Dirty Girl - Event Performance Report";}    
<div id="reporting">
@{Html.RenderPartial("partial/EventFilter", Model.Filter);}

@if (Model.Report.FeeReport.Count > 0)
{
    Html.RenderPartial("partial/EventExport", Model.Filter);
    Html.RenderPartial("partial/PerformanceReport", Model.Report);
}
</div>