@model vmAdmin_EventPerformance

@{ViewBag.Title = "Dirty Girl - Event Performance Report";}    
<div id="reporting">
@{Html.RenderPartial("partial/EventFilter", Model.Filter);}

@if (Model.Report.FeeReport.Count > 0)
{
    Html.RenderPartial("partial/EventExport", Model.Filter);
    Html.RenderPartial("partial/PerformanceReport", Model.Report);
}
else
{
    if (Model.Filter.EventId.HasValue)
    {
        <div style="clear:both"></div>
        <h2>Performance Report</h2>
        <br/>
        <h3>No Data Found</h3>
    }
}

</div>