@{
    ViewBag.Title = "Invalid Redemption Code";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<hgroup id="Errorpage">
    <img src="/images/error.jpg" alt="Ooops" />
    <br/>
    <br/>
    <br/>
    <br/>
    <h1 class="error">Invalid Redemption Code!</h1>
    <br />
    <h3>@ViewData["InvalidRedemption"]</h3>    
    <br/>
    <br/>
    <br/>
    <br/>   
</hgroup>
