@{
    Layout = null;
}
<p>Please click on the map to place the marker in the desired area.</p>
<div id="registration">
    <div id="registration_map">
        <div class="registration_map_content">
                            <div class="single_location _-1"> 
                        <div class="single_location_content"> 
                        <div class="pin"><a href="#">&nbsp;</a></div> 
                        <div class="popup"> 
                        <div class="popup_content"> 
                        </div> 
                        </div> 
                        </div> 
                        </div>
        </div>
        <div class="registration_map_copy">
            <div class="registration_map_copy_content">
                @*<p>Click on the map to get new coordinate:</p>
                <div>
                    <p>X</p>
                    <input id="x-coord" type="text" />
                </div>
                <div>
                    <p>Y</p>
                    <input id="y-coord" type="text" />
                </div>*@

            </div>
        </div>
    </div>
</div>
