@model vmAdmin_EventFilter

<script type="text/javascript">

   
    function SetButton() {
        var btn = $("#filterEventButton");
      
        if ($("#EventId").data("kendoDropDownList").value().length > 0) {
            btn.removeAttr('disabled');
           
        }
        else {
            btn.attr('disabled', 'disabled');
           
        }
    }
    

</script>
@using (Html.BeginForm())
{
  <div id="reportfilter">
      <table>
          <tr>
              <td>
                  @(Html.Kendo().DropDownListFor(x => x.EventId)
                    .BindTo(Model.EventList)
                    .DataTextField("Text")
                    .DataValueField("Value")
                    .OptionLabel("Select Event-->")    
                                    
                    .HtmlAttributes(new {style = "width:250px" })
                    .Events(e=>e
                        .Change("SetButton")
                        .DataBound("SetButton") ))
                         
              </td>
              <td>
                    <input id="filterEventButton" type="submit" value="Update Results" disabled="disabled" />
              </td>
          </tr>
      </table>         
  </div>
}
