@{
    ViewBag.Title = "Reset Password";
}

<div id="eventDetail">
    <div class="pinkborder_left">
        <div id="eventDetailContainer">
            @Html.Partial("_Hero")
            <div id="eventDetailContent" class="oneColumn">
                <div class="contentMain">
                    <div class="contentMain_copy register form">
                        <div class="registration_form">
                            <div class="registration_form_content">
                                <h2 class="pink">Reset Password</h2>
                                @if (ViewBag.Result == null)
                                {
                                    using (Html.BeginForm("ForgotPassword", "Authorize", FormMethod.Post, new { @id = "forgot-password-form" }))
                                    {
                                        <br />
                                        <p>Please enter the email associated with your account</p>
                                        <div class="single_row">
                                            <div class="single_input">
                                                @Html.TextBox("emailAddress", null, new { id = "emailAddressTextBox" })
                                                <input class="btnPink" type="submit" value="submit" id="submitButton" style="margin-left: 20px;"  />
                                                <div class="validation-message"><p>Please enter a valid email address</p></div>
                                            </div>
                                        </div>
                                    }
                                }
                                else
                                {
                                       <p>
                                       If the e-mail address you entered @ViewBag.EmailAddress is associated with a customer account in our records, you will receive an e-mail from us with instructions for resetting your password. If you don't receive this e-mail, please check your junk mail folder or visit our Help pages to contact Customer Service for further assistance.
                                       </p>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="pinkborder_bottom">&nbsp;</div>
</div>

<script>
    function keypressHandler(e)
    {
        if(e.which == 13) {
            
            $(this).blur();
            $('#submitButton').focus().click();
        }
    }
    
    $("#submitButton").on("click", function (e) {
        e.preventDefault();
        if (validateEmail()) {
            $("#forgot-password-form").submit();
        }
    });

    function validateEmail() {
        $(".validation-message").hide();
        var $emailTextField = $('input[name=emailAddress]');
        $emailTextField.removeClass("error"); 
        if (/(.+)@@(.+){2,}\.(.+){2,}/.test($emailTextField.val())) { return true; }
        $emailTextField.addClass("error");
        $(".validation-message").show();
        return false;
    }

    $('#emailAddressTextBox').keypress(keypressHandler);
    
</script>