@model vmAdmin_Upgrade

@{
    ViewBag.Title = "Home";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<h1>Go Live - Password Reset</h1>
@using (Html.BeginForm("PasswordReset", "Upgrade", FormMethod.Post))
{
    <h2>Press submit button to reset passwords and send out emails</h2>
    <label for="emailCount">Emails to Send: </label>
    @Html.TextBoxFor(m=> m.emailCount)

    <input type="submit" value="Submit" />
    
    if (TempData["Errors"] != null)
     {
        <br/>
        <p style="color:red">@TempData["Errors"].ToString() </p>
         <br/>
         
     }
  
}
