<div class="hero">
    <img src="@Url.Content("~/images/dg-header.jpg")" style="z-index:2;" />
    <img src="@Url.Content("~/images/hero_rotate2.jpg")" />
    <img src="@Url.Content("~/images/hero_rotate3.jpg")" />
    <img src="@Url.Content("~/images/hero_rotate4.jpg")" />
</div>