@model HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<hgroup id="Errorpage">
    <img src="/images/error.jpg" alt="Ooops" />
    <br/>
    <br/>
    <br/>
    <br/>
    <h1 class="error">Ooops!</h1>
    <br />
    <h2 class="error">Users may only view or modify their own settings.</h2>
    <br/>
    <br/>
    <br/>
    <br/>
  
    
</hgroup>
