@model HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<hgroup class="title">
    <br/>
    <br/>
    <br/>
    <br/>
    <h1 class="error">User Action is not Authorized!</h1>
    <br/>
    <br/>
    <br/>
    <br/>

    <h2 class="error">An error occurred while processing your request.  If this problem persists, please contact support.</h2>
    
    
</hgroup>
