@{
    var message = (DisplayMessage)TempData[DirtyGirlConfig.Settings.DisplayMessageKey] ?? null;
}

@if (message != null)
{
    if (message.Message.ToLower().Substring(0,5) == "head-")
    {
        //Do this for Change Wave message
        <h2>@message.Message.Substring(5)</h2>
        <style>
            .profileCustomMessage { display: none;}
            .changeWaveMsg { display: block;}
            .changeWaveMsg h2{margin-left: 20px; padding: 20px 0 0; font-size: 18px;}
        </style>
    }else{
        // Do this for other message
        <div>@message.Message</div>
    }
}
