@model HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<hgroup id="Errorpage">
    <img src="/images/error.jpg" alt="Ooops" />
    <br/>
    <br/>
    <br/>
    <br/>
    <h1 class="error">Ooops!</h1>
    
    <br />
    <h2>Something happend we did not expect.</h2>
    <br/>
    <br/>
    <br/>
    <br/>

    <h3 class="error">An error occurred while processing your request.  If this problem persists, please contact support.</h3>
    
    
</hgroup>
