@model EventOverview

<div class="contentMain_header">
    <div class="cm_header_city">
        <h1>@Model.Location Mud Run</h1>
    </div>
    <div class="cm_header_where">
        <h5>WHERE:</h5>
        <p>@Model.Place</p>
    </div>
    <div class="cm_header_dates">
        <h5>DATES:</h5>
        <p>@Model.Dates</p>              
    </div>
</div>