@{
    ViewBag.Title = "Error";
}

<hgroup id="Errorpage">
    <img src="/images/error.jpg" alt="Ooops" />
    <br/>
    <br/>
    <br/>
    <br/>
    <h1 class="error">Ooops!</h1>
    <br />
    <h3>I'm sorry, but HTML entry is not allowed on that page.</h3>
    <h4>Please make sure that your entries do not contain 
        any angle brackets like &lt; or &gt;.</h4>
       <br/>
<h4><a href='javascript:history.back()'>Go back</a></h4>
    <br/>
    <br/>
    <br/>
    <br/>
  
    
</hgroup>
