@{
    ViewBag.Title = "404 - Page Not Found";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<hgroup id="Errorpage">
    <img src="/images/error.jpg" alt="Ooops" />
    <br/>
    <br/>
    <br/>
    <br/>
    <h1 class="error">Ooops!</h1>
    <br />
    <h2>We are unable to find that page</h2>
    <br/>
    <br/>
    <br/>
    <br/>   
</hgroup>
