<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <SiteUrlToLaunchAfterPublish>http://register-godirtygirl-qa.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <MSDeployServiceURL>waws-prod-bay-001.publish.azurewebsites.windows.net:443</MSDeployServiceURL>
    <DeployIisAppPath>register-godirtygirl-qa</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <UserName>$register-godirtygirl-qa</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="ElmahConnectionString" Order="1" Enabled="False">
          <Destination Path="Data Source=cbwhf6zrm1.database.windows.net,1433;Initial Catalog=Dirtygirl_QA;Integrated Security=False;User ID=dirtygirlusr@cbwhf6zrm1;Password=D1rtyG!rl;Connect Timeout=30;Encrypt=True" Name="Data Source=cbwhf6zrm1.database.windows.net,1433;Initial Catalog=Dirtygirl_QA;Integrated Security=False;User ID=dirtygirlusr@cbwhf6zrm1;Password=D1rtyG!rl;MultipleActiveResultSets=True;Connect Timeout=30;Encrypt=True" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=cbwhf6zrm1.database.windows.net,1433;Initial Catalog=Elmah_QA;Integrated Security=False;User ID=dirtygirlusr@cbwhf6zrm1;Password=D1rtyG!rl;Connect Timeout=30;Encrypt=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ElmahConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=cbwhf6zrm1.database.windows.net,1433;Database=Elmah_QA;User ID=dirtygirlusr@cbwhf6zrm1;Password=D1rtyG!rl;MultipleActiveResultSets=True;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="DirtyGirlContext" Order="2" Enabled="False">
          <Destination Path="Data Source=cbwhf6zrm1.database.windows.net,1433;Initial Catalog=Dirtygirl_QA;Integrated Security=False;User ID=dirtygirlusr@cbwhf6zrm1;Password=D1rtyG!rl;Connect Timeout=30;Encrypt=True" Name="Data Source=cbwhf6zrm1.database.windows.net,1433;Initial Catalog=Dirtygirl_QA;Integrated Security=False;User ID=dirtygirlusr@cbwhf6zrm1;Password=D1rtyG!rl;MultipleActiveResultSets=True;Connect Timeout=30;Encrypt=True" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=cbwhf6zrm1.database.windows.net,1433;Initial Catalog=Dirtygirl_QA;Integrated Security=False;User ID=dirtygirlusr@cbwhf6zrm1;Password=D1rtyG!rl;Connect Timeout=30;Encrypt=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DirtyGirlContext_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=cbwhf6zrm1.database.windows.net,1433;Database=Dirtygirl_QA;User ID=dirtygirlusr@cbwhf6zrm1;Password=D1rtyG!rl;MultipleActiveResultSets=True;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DirtyGirlContext-Web.config Connection String">
      <ParameterValue>Data Source=cbwhf6zrm1.database.windows.net,1433;Initial Catalog=Dirtygirl_QA;Integrated Security=False;User ID=dirtygirlusr@cbwhf6zrm1;Password=D1rtyG!rl;MultipleActiveResultSets=True;Connect Timeout=30;Encrypt=True</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ElmahConnectionString-Web.config Connection String">
      <ParameterValue>Data Source=cbwhf6zrm1.database.windows.net,1433;Initial Catalog=Dirtygirl_QA;Integrated Security=False;User ID=dirtygirlusr@cbwhf6zrm1;Password=D1rtyG!rl;MultipleActiveResultSets=True;Connect Timeout=30;Encrypt=True</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>