<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>FileSystem</WebPublishMethod>
    <SiteUrlToLaunchAfterPublish>http://166.78.156.193/</SiteUrlToLaunchAfterPublish>
    <publishUrl>C:\git\DirtyGirl\publish</publishUrl>
    <DeleteExistingFiles>False</DeleteExistingFiles>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DirtyGirlContext-Web.config Connection String">
      <ParameterValue>Data Source=cbwhf6zrm1.database.windows.net,1433;Initial Catalog=Dirtygirl_QA;Integrated Security=False;User ID=dirtygirlusr@cbwhf6zrm1;Password=D1rtyG!rl;MultipleActiveResultSets=True;Connect Timeout=30;Encrypt=True</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ElmahConnectionString-Web.config Connection String">
      <ParameterValue>Data Source=cbwhf6zrm1.database.windows.net,1433;Initial Catalog=Dirtygirl_QA;Integrated Security=False;User ID=dirtygirlusr@cbwhf6zrm1;Password=D1rtyG!rl;MultipleActiveResultSets=True;Connect Timeout=30;Encrypt=True</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>