@{
    ViewBag.Title = "Form";
}

<link rel="stylesheet" href="http://code.jquery.com/ui/1.9.0/themes/base/jquery-ui.css" />
<script src="http://code.jquery.com/jquery-1.8.2.js"></script>
<script src="http://code.jquery.com/ui/1.9.0/jquery-ui.js"></script>
<script>
    $(document).ready(function () {
        
    });
</script>
<style>
    .register_next_copy p { text-align: right;}
</style>
<div id="eventDetail">
    <div class="pinkborder_left">
        <div id="eventDetailContainer">
            <div class="hero">
                <img src="@Url.Content("~/images/dg-header.jpg")" />
            </div>
            <div id="eventDetailContent" class="twoColumn">
                <div class="contentMain">
                    <div class="contentMain_header">
                        <div class="cm_header_city">
                            <h4>MIAMI, FL</h4>
                        </div>
                        <div class="cm_header_where">
                            <h5>WHERE:</h5>
                            <p>Greater Miami Area</p>
                        </div>
                        <div class="cm_header_dates">
                            <h5>DATES:</h5>
                            <p>9/26/2012 - 9/28/2013</p>
                        </div>
                    </div>
                    <div class="contentMain_copy register form">
                        <div class="registration_steps">
                            <img src="@Url.Content("~/images/reg-progress-muddier.png")" />
                        </div>
                        <div class="registration_form">
                            <div class="registration_form_header">
                                <p>You have selected "Wave 1 - 8:00 AM - September 26th, 2012"</p>
                                <p><a href="#">Select a different wave</a></p>
                            </div>
                            <div class="registration_form_content">
                                <p style="font-weight:normal;">*Required Fields</p>
                                <div class="single_row">
                                    <div class="single_input text">
                                        <p><span class="pink">*</span>First Name</p>
                                        <input type="text" />
                                    </div>
                                    <div class="single_input text">
                                        <p><span class="pink">*</span>Last Name</p>
                                        <input type="text" />
                                    </div>
                                </div>
                                <div class="single_row">
                                    <div class="single_input text">
                                        <p><span class="pink">*</span>Email</p>
                                        <input type="text" />
                                    </div>
                                    <div class="single_input text">
                                        <p><span class="pink">*</span>Phone</p>
                                        <input type="text" />
                                    </div>
                                </div>
                                <div class="single_row">
                                    <div class="single_input dropdown">
                                        <p><span class="pink">*</span>Date of Birth: Month</p>
                                        <select>
                                            <option selected>January</option>
                                            <option>February</option>
                                        </select>
                                    </div>
                                    <div class="single_input dropdown">
                                        <p><span class="pink">*</span>Day</p>
                                        <select>
                                            <option selected>1</option>
                                            <option>2</option>
                                        </select>
                                    </div>
                                    <div class="single_input dropdown">
                                        <p><span class="pink">*</span>Year</p>
                                        <select>
                                            <option selected>2012</option>
                                            <option>2011</option>
                                        </select>
                                    </div>
                                    <div class="single_input dropdown">
                                        <p><span class="pink">*</span>Gender</p>
                                        <select>
                                            <option selected>Female</option>
                                            <option>Male</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="single_row">
                                    <div class="single_input text address">
                                        <p><span class="pink">*</span>Address</p>
                                        <input type="text" />
                                    </div>
                                    <div class="single_input text short">
                                        <p>Apt #</p>
                                        <input type="text" />
                                    </div>
                                </div>
                                <div class="single_row">
                                    <div class="single_input text">
                                        <p><span class="pink">*</span>City</p>
                                        <input type="text" />
                                    </div>
                                    <div class="single_input dropdown">
                                        <p><span class="pink">*</span>State</p>
                                        <select>
                                            <option selected>Wisconsin</option>
                                            <option>Illinois</option>
                                        </select>
                                    </div>
                                    <div class="single_input text short">
                                        <p><span class="pink">*</span>Zip</p>
                                        <input type="text" />
                                    </div>
                                </div>
                                <div class="single_row">
                                    <div class="single_input text">
                                        <p><span class="pink">*</span>Emergency Contact</p>
                                        <input type="text" />
                                    </div>
                                    <div class="single_input text">
                                        <p><span class="pink">*</span>Emergency Contact Phone</p>
                                        <input type="text" />
                                    </div>
                                </div>
                                <div class="single_row">
                                    <div class="single_input textarea">
                                        <p>Please list important medical information</p>
                                        <textarea></textarea>
                                    </div>
                                </div>
                                <div class="single_row">
                                    <div class="single_input textarea">
                                        <p>Please list any special needs or accomodations</p>
                                        <textarea></textarea>
                                    </div>
                                </div>
                                <div class="single_row">
                                    <div class="single_input dropdown">
                                        <p><span class="pink">*</span>How did you hear about us?</p>
                                        <select>
                                            <option selected>Website</option>
                                            <option>Others</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form_waiver">
                                    <h3>WAIVER</h3>
                                    <div class="form_waiver_content">
                                        <div id="mcs_container">
	                                        <div class="customScrollBox">
		                                        <div class="scroller_container">
    		                                        <div class="scroller_content">
                                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras eu arcu vitae nisl dapibus viverra in nec orci. Mauris non vulputate sapien. Integer sit amet mauris ante. Duis aliquam convallis quam, nec vehicula libero rutrum non. Ut a justo tortor, eu laoreet nulla. Curabitur porta, nunc eget pharetra dapibus, neque leo elementum dui, sed volutpat ipsum lacus nec nisl. Cras dapibus pharetra ante non bibendum. Cras sit amet sem ligula, a hendrerit metus. Cras pretium metus diam. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Vestibulum pulvinar mi urna. Donec consectetur venenatis quam sit amet pharetra. Duis sed lorem massa, quis dignissim erat.</p>
                                                        <p>In convallis nisi ut diam ornare consequat. Sed vel leo id mi lacinia vestibulum. Suspendisse porttitor bibendum sagittis. Duis at massa libero, non ullamcorper quam. Sed porttitor augue nec ligula porta mollis. Nunc tempus, dui quis convallis auctor, libero augue blandit ante, vitae congue urna massa et lorem. Nulla volutpat ultrices laoreet. Nam lobortis odio ut sapien sodales ullamcorper. Nulla eget felis turpis. Duis tempor leo arcu, sit amet adipiscing lectus. Sed vitae arcu nibh, ut egestas nulla. Phasellus nec libero at leo posuere feugiat et id felis.</p>
                                                        <p>Morbi cursus venenatis augue quis lobortis. Curabitur non diam ut tortor commodo hendrerit et non sem. Morbi mattis dapibus rutrum. Mauris id elit eu nulla mollis sodales eget eu erat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum hendrerit massa nec ligula euismod mollis. Curabitur eu ipsum ac sapien varius bibendum at et lacus. Maecenas vel leo augue, a dictum felis. Curabitur aliquet, diam nec pulvinar porta, velit diam rutrum ipsum, eget egestas leo lacus sit amet lacus.</p>
                                                    </div>
		                                        </div>
                                                <div class="dragger_container">
    		                                        <div class="dragger"></div>
		                                        </div>
	                                        </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="single_row">
                                    <div class="single_checkbox">
                                        <input type="checkbox" />
                                        <p>By checking this box I am verifying that I am female</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="register_next">
                            <div class="register_next_copy">
                                
                            </div>
                            <div class="register_next_button">
                                <a href="#">NEXT</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="contentSidePanel">
                    <div class="contentSidePanel_top">&nbsp;</div>
                    <div class="contentSidePanel_side">
                        <div class="contentSideFaq">
                            <h3>FAQs</h3>
                            <p class="bold">Is the Dirty Girl Mud Run really for women only?</p>
                            <p>Yes. But, great news, spectators are more and welcome to come cheer you on that day! Even better news, there is no charge. About the dogs (pets of any kind) though, we love em’ as much as you but they will need to stay at home that day. </p>
                            <p class="bold">What is the minimum age to participate?</p>
                            <p>Dirty Girls need to be at least 14 years old at the time of the event. Sorry, but no exceptions will be made. If you are under 18 years old, you will need to be accompanied by an adult the day of the event. Have a team with more than one girl under 18? No worries, bring along one adult that day for the whole team.  </p>
                            <p class="bold">I am not in the best of shape, can I still participate?</p>
                            <p>Absolutely. The event is non-competitive and will not be timed, so there is no need to hustle to get through the course. We do recommend some light cardio a couple times per week paired with some upper body strengthening to help you get up and over the obstacles. However, you’ll have the option to bypass any obstacle that you’re not comfortable tackling.</p>
                            <p class="bold">I am pregnant/have a medical issue, can I still participate?</p>
                            <p>We may know how to put on an awesome event, but our prenatal/medical knowledge is limited. Consult your doctor before registering.</p>
                            <p class="bold">What if I can’t complete a particular obstacle?</p>
                            <p>All obstacles will be manageable. The more difficult obstacles will have varying degrees of difficulty to accommodate to different fitness levels. We would like you to try to complete each obstacle, but if you feel you can’t then you can go around.</p>
                            <p class="bold">When is the latest I can register?</p>
                            <p>Unless an event sells out first, registration will be open until 6pm CDT the day before the event, but don’t wait too long to get your Dirty on because waves (start times) fill up quickly and there is limited space in each.</p>
                            <p class="bold">Can I register the day of the event?</p>
                            <p>No. Registration closes the day before the event 6pm CDT. All registrations need to be final prior to that. </p>
                            <p class="bold">I need to transfer my registration to someone else, how do I do that?</p>
                            <p>"Insert new transfer instructions here"</p>
                            <p class="bold">Can I transfer the day of the event?</p>
                            <p>No. Due to various reasons, day of transfers will not be accepted.  </p>
                            <p class="bold">How much is the registration fee?</p>
                            <p>The registration fee varies depending on the event and how much time is left before the event itself. Our early registration fee is $65 for a limited time, so get it while it’s hot. After that, the price will increase to $75, $85 and finally $100 right before the event.  </p>
                            <p><a href="#">Check the registration page for the Dirty Girl you are interested in for exact pricing schedule and valid dates</a>.</p>
                            <p>Please note that the registration fee is per person and we do not have group discounts. </p>
                        </div>
                    </div>
                    <div class="contentSidePanel_bottom">&nbsp;</div>
                </div>
            </div>
        </div>
    </div>
    <div class="pinkborder_bottom">&nbsp;</div>
</div>


